/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--background-image);
}

.text {
  font-family: inherit;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.title {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
}

.page__title {
  color: var(--page-title-color);
  font-weight: var(--font-weight-bold);
}

.block {
  font-weight: var(--font-weight-bold);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
}

.block-paragraph {
  color: var(--text-color);
  font-weight: var(--font-weight-regular);
  margin-block-start: 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  background-color: transparent;
  text-transform: lowercase;
  padding-block-start: 0;
  padding-block-end: 2px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight-regular);
  color: var(--button-color);
  border: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-active);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__title {
  margin-inline-start: -20px;
}

.main__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--focus-size);
  line-height: clamp(95.7px, 0.82 * var(--focus-size), 123.47px);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description {
  text-align: start;
  justify-self: end;
  align-self: center;
  padding-inline-end: 5px;
  width: 50%;
}

.header__decoration {
  display: block;
  position: absolute;
  top: var(--padding-inline);
  right: clamp(38px, 28px + var(--padding-inline), 48px);
  color: var(--accent-color);
  font-family: inherit;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.header__decoration::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 43px;
  box-shadow: 0 0 3px 3px var(--accent-color);
}

.decorated-zone::before {
  position: absolute;
  left: var(--padding-inline);
  bottom: var(--padding-inline);
  content: "";
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  position: absolute;
  right: var(--padding-inline);
  top: var(--padding-inline);
  width: 25px;
  height: 25px;
  content: "";
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
}

.main {
  padding-block: 60px;
}

section {
  padding-inline: var(--padding-inline);
}

section:not(:last-of-type) {
  padding-block-end: 80px;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.text__link {
  color: inherit;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.text__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.concentration__block {
  grid-column-start: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.concentration__title {
  grid-row-start: 1;
}

.harm__title {
  grid-column: 1 / 2;
  text-align: start;
}

.harm__block {
  grid-column: 1/-1;
}

.advices__title-additional {
  grid-column: 2/-1;
}

.advices__block {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advices__block-title {
  font-weight: var(--font-weight-regular);
}

.pictures__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(142px, 1fr));
  gap: 20px;
}

.pictures__title {
  margin-block-end: 20px;
}

.pictures__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset__item {
  grid-column: 1/3;
  grid-row: 1/2;
}

.ice-cream__item {
  grid-column: 3/4;
  grid-row: 1/3;
}

.street__item {
  grid-column: 2/4;
  grid-row: 3/4;
}

.tape__item {
  grid-row: 2/4;
}

.books__item {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.footer__title {
  justify-self: center;
  align-self: center;
}

@media (max-width: 768px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .advices__block {
    margin-inline-start: 5px;
  }
  .harm__block {
    grid-template-columns: 1fr;
  }
  .concentration__block {
    margin-inline-start: 5px;
  }
}

@media (max-width: 748px) {
  .advices__block {
    grid-column: 1/-1;
  }
  .pictures__cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .pictures__title {
    margin-block-end: 10px;
  }
  .harm__title {
    grid-column: 1/-1;
  }
  .advices__title-default {
    grid-row: 1/2;
  }
  .section-content {
    grid-template-columns: auto;
    column-gap: 0;
  }
  .concentration__block {
    margin-inline-start: 0;
  }
  .advices__block {
    margin-inline-start: 0;
  }
  .header__title {
    margin-inline-start: 0;
  }
  .header__description {
    width: 100%;
  }
  .concentration__title {
    grid-column: 1/3;
  }
  .main {
    padding-block: 40px;
  }
  section:not(:last-of-type) {
    padding-block-end: 50px;
  }
}
