/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --decoration-color: #ff0070;
  --shadow-color: #ff0070;
  --title-color: #000028;
  --page-title-color: #ff0070;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-color-active: rgba(255, 112, 102, 0.4);
  --main-font: IBM Plex Mono;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-size: 18px;
  --focus-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --line-height: 1.3em;
  --padding-inline: 20px;
  --padding-block: 20px;
}

@media (max-width: 475px) {
  :root {
    --padding-inline: 10px;
    --padding-block: 10px;
  }
}

@media (max-width: 320px) {
  :root {
    --focus-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
